<mat-toolbar color="primary" class="header">

  <img
    width="120"
    alt="Angular Logo"
    src="./assets/rl_logo_6.png"
  />


  <span class="animated-title">Tracker</span>
  <span class="spacer"></span>
<!--  <button routerLink="/tracker" routerLinkActive="router-link-active" mat-icon-button
          aria-label="Tracker Icon">
    <mat-icon>track_changes</mat-icon>
  </button>
  <button routerLink="/history" routerLinkActive="router-link-active" mat-icon-button
          aria-label="History Icon">
    <mat-icon>table</mat-icon>
  </button>-->

  <img
    width="50"
    alt="Angular Logo"
    src="./assets/maxx_rl_logo.png"
  />

</mat-toolbar>

<ng-container *ngIf="(asyncTabs | async) === null">
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<mat-tab-group>
  <mat-tab *ngFor="let tab of asyncTabs | async">
    <ng-template mat-tab-label>{{tab.player}}</ng-template>
    <div *ngFor="let rank of tab.apiResponse.ranks | playlistFilter:filterBy2s">
      <app-player-rank [rank]="rank" [rankIcon]="playerService.getRankIconPath(rank.rank)"></app-player-rank>
    </div>
  </mat-tab>
</mat-tab-group>

<button mat-button mat-raised-button>Refresh</button>


<animated-circle-background></animated-circle-background>
