
.header, .footer {
  height: 10vh;
  justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.spacer {
  flex: 1 1 auto;
}

.header {
  display: flex;
  align-items: center;
}

/* Logo upper left corner */
.header img {
  margin: 0 16px;
}

.nav-spacer {
  flex: 1 1 auto;
}

.router-link-active {
  background: white;

  .material-icons {
    color: black;
  }
}

button{
  width: 50%;
  margin: 25px auto 0;
}

